.px-0 {
    display: none;
}

.ng-valid:not(form).ng-touched {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.card-image-container {
  justify-content: center;
}
