<ng-container>
  <c-container [fluid]="true">
    <button toggle="visible" cHeaderToggler [cSidebarToggle]="sidebarId" class="ps-1">
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>

    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <div>
      <!-- Your application content -->

      <li>
        <button class="btn btn-danger btn-flat" (click)="logout()">
          <i class="bi bi-power"></i> Salir
        </button>
      </li>
    </div>
  </c-dropdown>
</ng-template>