<div class="container mt-3">
  <h1 class="h3">Estadísticas de Servicio</h1>
  <button (click)="downloadReport()">Download Technician Settlement Report</button>
  <button (click)="downloadServiceReports()">DownloadService Report</button>
  
  <div class="calendar-container">
    <label class="calendar-label">Seleccione una fecha:</label>
    <input type="date" class="calendar-input" (change)="onDateChange($event)">
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div echarts [options]="serviceStatusOptions" class="chart-container" style="height: 400px;"></div>
    </div>
    <div class="col-md-6">
      <div echarts [options]="serviceTypeOptions" class="chart-container" style="height: 400px;"></div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div echarts [options]="technicianEffectivenessOptions" class="chart-container" style="height: 400px;"></div>
    </div>
    <div class="col-md-6">
      <div echarts [options]="warrantiesByTechnicianOptions" class="chart-container" style="height: 400px;"></div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <div echarts [options]="totalWarrantiesOptions" class="chart-container" style="height: 400px;"></div>
    </div>
  </div>
</div>
